@import url(http://fonts.googleapis.com/css?family=PT+Mono|Open+Sans:400italic,400,600);

/* @font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
} 
*/

/* The Publican website menu.css has a line-height set to 1em */

body, h1, h2, h3, h4, h5, h6, pre, li, div {
    line-height: normal;
}

.changelog-toggle {
  display: none;
}

.changelog-toggle-visible {
  display: block;
}

.changelog-items {
  display: none;
}

.changelog-items li.div {
  border-bottom: 1px dotted;
}

.changelog-visible {
  display: block;
}

.changes-highlight {
  background-color: yellow;
}

.simplesect:after{content:""; display: block; clear: both; height:0px; width: 100%; float:none;}

.fixedRevTopic a {
  display:inline-block;
  border: 1px dotted blue;
  padding:.333em 1em;
  background-color:white;
  margin:0em .5em;
  /*border-radius*/
  -webkit-border-radius:1.5em;
     -moz-border-radius:1.5em;
          border-radius:1.5em;
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
}

.fixedRevTopic a:visited {color: blue;}
.fixedRevTopic { float:right; text-align:right; position: absolute; top:0px; right: 0px;}
.fixedRevTopic a:hover {border: 1px dotted white;}
.fixedRevTopic a:link {color: blue;}

.fixedRevTopic a:focus,
.fixedRevTopic a:hover{
  background-color: blue;
  color: white;
}

.RoleCreateBugPara a{
  padding:  0em 0.8em 0.2em;
  background-color:white;
  margin:0em .5em;
  font-size:12px; 
  color: lightgray;
  border-bottom:none;
}

.RoleCreateBugPara a:visited {color: lightgray; border-bottom:none; }
.RoleCreateBugPara {float:right; text-align:right;} 
.RoleCreateBugPara a:link {color: lightgray; border-bottom:none;}
.RoleCreateBugPara a:focus,
.RoleCreateBugPara a:hover{
border-bottom: 1px dotted red;
color: red;
}

/* 
    Begin Master selector for tabbed code samples
    
    Big ups AndyFitz for the help with this

*/

ul.codetabs-selector {
    margin: 0 auto;
    padding: 0;
}

ul.codetabs-selector li.active {
    color: red;    
}

ul.codetabs-selector:after {
    clear:both;
    content: "";
    display: block;
    width: 100%;
}

ul.codetabs-selector li{
    position: relative;
    text-align: left;
    float: left; 
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
  /*  border: 1px solid #CCC; */
}    


ul.codetabs-selector {margin:0; list-style:none}
ul.codetabs-selector li{display: inline;}

ul.codetabs-selector li a {font-family: sans-serif;display: inline-block; background-color: #eee; padding: .5em 2em; border-radius:.33em; text-decoration: none; color:#06c}

ul.codetabs-selector li a{transition: all .15s ease;}
ul.codetabs-selector li a:hover{background-color:#e5e9fe;}
ul.codetabs-selector li a.active,
ul.codetabs-selector li a:focus, 
ul.codetabs-selector li a:active{background-color:#345; color:#fff; box-shadow: inset 0 .2em .3em rgba(0,0,0,0.7)}

/* 
    End Master selector for tabbed code samples
*/

/* Aesthetic changes */

pre {
	font-family: "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
	display:block;
	background-color:#eeeeee;
	margin-bottom: 0.3em;
	padding:.5em 1em;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
/*	font-size: 0.9em; */
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 0 #AAAAAA inset;
	-moz-box-shadow:  0 0 0 #AAAAAA inset;
	-webkit-box-shadow: 0 0 0 #AAAAAA inset;
	-o-box-shadow: 0 0 0 #AAAAAA inset;
}

.command, .filename, .keycap, .classname, .literal {
	font-family: "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
  font-weight: normal;
	/* font-weight:bold; */
}

code {
	font-family: "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
	white-space: pre-wrap;
  font-weight:normal;
	/* font-weight:bold; */
}

body { 
font-family: "Open Sans", "liberation sans", sans-serif;
font-size: 14px;
font-weight: normal;
font-variant: normal;
}

.guilabel, .guibutton {
  font-family:  "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
  font-weight: bold;
}

/* colors and styles from the Red Hat brand */
a:link {
	color:#0066cc;
}

a:visited {
	color:#6699cc;
}

dd {
  margin-left: 0px;
}

h1 {
	color:#a70000;
  font-size: 42px;
}

h1.legalnotice {
  font-size: 25px;
}

div.producttitle {
	background: #a70000 url(../images/h1-bg.png) top left repeat;
  font-size: 3em;
  color: white;
	padding: 0.5em;
}

.section h1.title {
	color:#a70000;
}

h2{
  font-size: 23px;
}

h2.subtitle {
  font-size: 20px;
}

h3{
  font-size: 21px;
}

h2,h3,h4,h5,h6 {
	color:#a70000;
}

table {
	border:1px solid #aaa;
}

table th {
	background-color:#900;
}

table tr.even td {
	background-color:#f5f5f5;
}

.revhistory table th {
	color:#a70000;
}

.titlepage .edition {
	color: #a70000;
}

span.remark{
	background-color: #ffff00;
}

/* css for the code switcher */
.codetabs pre{
  border: 1px solid; color: #AAA;
}

.code-select-li{
  float:left;
  list-style-type: none;
  list-style-image: none;
  margin-right: 0.4em;
  background-color: whiteSmoke;
  padding-bottom: 4px;
}

.codetabs ul{
    padding-left: 2.6em;
    padding-bottom: 8px;
}

.code-select-li a, .code-select-li a:visited, .code-select-li a:link{
    color: #AAA;
    background-color: #eeeeee;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    position: relative;
}

.code-select-li a:hover{
  border-bottom: 2px solid;
}

.code-select-li a.active {
    color: white;
    background-color: #AAA;
          border-top: 1px solid;
         border-left: 1px solid;
        border-right: 1px solid;  
       border-radius: 0.5em 0.5em 0 0;
      padding-bottom: 4px;
}

.code-select-li a.active:hover {
  border-bottom: none;
}

.code-select-li a.active { border-bottom: none}

.set-as-default {
    position: absolute; 
    right: 0;
}

.set-as-default.code-select-li{
    top: 0;
    padding-bottom: 0;
}

.set-as-default,
.set-as-default a { 
     -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
         -ms-transition: all 1s ease;
             transition: all 1s ease; 
          border-radius: .5em .5em 0em 0em ;}

.set-as-default,
.set-as-default a, 
.set-as-default a:link, 
.set-as-default a:visited {
    opacity:0; 
    color: red;
    border-bottom: none;
}

.set-as-default-visible,
.set-as-default-visible a,
.set-as-default-visible a:link,
.set-as-default-visible a:visited
{opacity:1; background-color: transparent; border: none;}


.codetabs{position:relative;}

.skynetBookID {
  display: none;
}

