/* @import url(http://fonts.googleapis.com/css?family=PT+Mono|Open+Sans:400italic,400,600); */

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(/assets/fonts/RTA0Dhj_HESY0h-ax44VkwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/assets/fonts/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
} 


/* The Publican website menu.css has a line-height set to 1em */

body, h1, h2, h3, h4, h5, h6, pre, li, div {
	line-height: normal;
}

.changelog-toggle {
  display: none;
}

.changelog-toggle-visible {
  display: block;
}

.changelog-items {
  display: none;
}

.changelog-items li.div {
  border-bottom: 1px dotted;
}

.changelog-visible {
  display: block;
}

.changes-highlight {
  background-color: yellow;
}

.simplesect:after{content:""; display: block; clear: both; height:0px; width: 100%; float:none;}

.fixedRevTopic a {
  display:inline-block;
  border: 1px dotted blue;
  padding:.333em 1em;
  background-color:white;
  margin:0em .5em;
  /*border-radius*/
  -webkit-border-radius:1.5em;
     -moz-border-radius:1.5em;
          border-radius:1.5em;
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
}

.fixedRevTopic a:visited {color: blue;}
.fixedRevTopic { float:right; text-align:right; position: absolute; top:0px; right: 0px;}
.fixedRevTopic a:hover {border: 1px dotted white;}
.fixedRevTopic a:link {color: blue;}

.fixedRevTopic a:focus,
.fixedRevTopic a:hover{
  background-color: blue;
  color: white;
}

.RoleCreateBugPara a {
  display:inline-block;
  border: 1px dotted red;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  background-color:white;
  margin:0em .5em;
  /*border-radius*/
  -webkit-border-radius:1.5em;
     -moz-border-radius:1.5em;
          border-radius:1.5em;
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
}

.RoleCreateBugPara a:visited {color: red;}
.RoleCreateBugPara { float:right; text-align:right; position: absolute; top:0px; right: 0px;}
.RoleCreateBugPara a:hover {border: 1px dotted white;}
.RoleCreateBugPara a:link {color: red;}

.RoleCreateBugPara a:focus,
.RoleCreateBugPara a:hover{
  background-color: red;
  color: white;
}

.sectionTopic
{
  position: relative;
}

.sectionTopic:hover
{
    background:#f6f6f6;
    box-shadow: 0 0 0 10px #f6f6f6, 0 0 0 11px #ddd, 0 0 10px 11px #ccc;
    -moz-box-shadow: 0 0 0 10px #f6f6f6, 0 0 0 11px #ddd, 0 0 10px 11px #ccc;
    -webkit-box-shadow: 0 0 0 10px #f6f6f6, 0 0 0 11px #ddd, 0 0 10px 11px #ccc;
}

/* 
    Begin Master selector for tabbed code samples
    
    Big ups AndyFitz for the help with this

*/

ul.codetabs-selector {
    margin: 0 auto;
    padding: 0;
}

ul.codetabs-selector li.active {
    color: red;    
}

ul.codetabs-selector:after {
    clear:both;
    content: "";
    display: block;
    width: 100%;
}

ul.codetabs-selector li{
    position: relative;
    text-align: left;
    float: left; 
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
  /*  border: 1px solid #CCC; */
}    


ul.codetabs-selector {margin:0; list-style:none}
ul.codetabs-selector li{display: inline;}

ul.codetabs-selector li a {font-family: sans-serif;display: inline-block; background-color: #eee; padding: .5em 2em; border-radius:.33em; text-decoration: none; color:#06c}

ul.codetabs-selector li a{transition: all .15s ease;}
ul.codetabs-selector li a:hover{background-color:#e5e9fe;}
ul.codetabs-selector li a.active,
ul.codetabs-selector li a:focus, 
ul.codetabs-selector li a:active{background-color:#345; color:#fff; box-shadow: inset 0 .2em .3em rgba(0,0,0,0.7)}

/* 
    End Master selector for tabbed code samples
*/

/* Aesthetic changes */

pre {
	font-family: "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
	display:block;
	background-color:#eeeeee;
	margin-bottom: 0.3em;
	padding:.5em 1em;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
/*	font-size: 0.9em; */
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 0 #AAAAAA inset;
	-moz-box-shadow:  0 0 0 #AAAAAA inset;
	-webkit-box-shadow: 0 0 0 #AAAAAA inset;
	-o-box-shadow: 0 0 0 #AAAAAA inset;
}

.command, .filename, .keycap, .classname, .literal {
	font-family: "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
  font-weight: normal;
	/* font-weight:bold; */
}

code {
	font-family: "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
	white-space: pre-wrap;
  font-weight:normal;
	/* font-weight:bold; */
}

body { 
font-family: "Open Sans", "liberation sans", sans-serif;
font-size: 14px;
font-weight: normal;
font-variant: normal;
}

.guilabel, .guibutton {
  font-family:  "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
  font-weight: bold;
}

/* colors and styles from the Red Hat brand */
a:link {
	color:#0066cc;
}

a:visited {
	color:#6699cc;
}

dd {
  margin-left: 0px;
}

h1 {
	color:#a70000;
  font-size: 42px;
}

h1.legalnotice {
  font-size: 25px;
}

div.producttitle {
	background: #a70000 url(../images/h1-bg.png) top left repeat;
  font-size: 3em;
  color: white;
	padding: 0.5em;
}

.section h1.title {
	color:#a70000;
}

h2{
  font-size: 23px;
}

h2.subtitle {
  font-size: 20px;
}

h3{
  font-size: 21px;
}

h2,h3,h4,h5,h6 {
	color:#a70000;
}

table {
	border:1px solid #aaa;
}

table th {
	background-color:#900;
}

table tr.even td {
	background-color:#f5f5f5;
}

.revhistory table th {
	color:#a70000;
}

.titlepage .edition {
	color: #a70000;
}

span.remark{
	background-color: #ffff00;
}

/* css for the code switcher */
.codetabs pre{
  border: 1px solid; color: #AAA;
}

.code-select-li{
  float:left;
  list-style-type: none;
  list-style-image: none;
  margin-right: 0.4em;
  background-color: whiteSmoke;
  padding-bottom: 4px;
}

.codetabs ul{
    padding-left: 2.6em;
    padding-bottom: 8px;
}

.code-select-li a, .code-select-li a:visited, .code-select-li a:link{
    color: #AAA;
    background-color: #eeeeee;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    position: relative;
}

.code-select-li a:hover{
  border-bottom: 2px solid;
}

.code-select-li a.active {
    color: white;
    background-color: #AAA;
          border-top: 1px solid;
         border-left: 1px solid;
        border-right: 1px solid;  
       border-radius: 0.5em 0.5em 0 0;
      padding-bottom: 4px;
}

.code-select-li a.active:hover {
  border-bottom: none;
}

.code-select-li a.active { border-bottom: none}

.set-as-default {
    position: absolute; 
    right: 0;
}

.set-as-default.code-select-li{
    top: 0;
    padding-bottom: 0;
}

.set-as-default,
.set-as-default a { 
     -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
         -ms-transition: all 1s ease;
             transition: all 1s ease; 
          border-radius: .5em .5em 0em 0em ;}

.set-as-default,
.set-as-default a, 
.set-as-default a:link, 
.set-as-default a:visited {
    opacity:0; 
    color: red;
    border-bottom: none;
}

.set-as-default-visible,
.set-as-default-visible a,
.set-as-default-visible a:link,
.set-as-default-visible a:visited
{opacity:1; background-color: transparent; border: none;}


.codetabs{position:relative;}

.skynetBookID {
  display: none;
}

.notify-rebuilt {
    z-index: 99;
    position: fixed;
    background-color: yellow;
    padding: 10px;
    color: green;
    font-weight: bold;
    font-size: 18;  
    left: 40%;
}

.notify-rebuilt a:hover {
    border-bottom: 1px dotted; 
}

.notifier {
    z-index: 99;
    position: fixed;
    font-weight: bold;
    background-color: rgb(249, 237, 190);
    border-bottom-color: rgb(240, 195, 109);
    border-left-color: rgb(240, 195, 109);
    border-right-color: rgb(240, 195, 109);
    border-top-color: rgb(240, 195, 109);
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
}

.control-panel {
    z-index: 99;
    position: fixed;
    left: 0;
    padding: 10px;
}

.ctrl-btn {
  display:block;
  text-align: center;
  border: 1px dotted blue;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color:white;
  margin:0em .5em;
  /*border-radius*/
  -webkit-border-radius:1.5em;
     -moz-border-radius:1.5em;
          border-radius:1.5em;
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
}

#go-home {
  display:block;
  color: green;
  text-align: center;
  border: 1px dotted green;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color:white;
  margin:0em .5em;
  /*border-radius*/
  -webkit-border-radius:1.5em;
     -moz-border-radius:1.5em;
          border-radius:1.5em;
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  -moz-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
  box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),  inset 0 0 0 2px rgba(255,255,255,0.5), inset 0 -1.5em 1.5em rgba(0,0,0,0.05);
}

.ctrl-btn a {
    border-bottom: none;   
}

.invisible {
    display: none;   
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.css3-blink {
    color: red;
  -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 2s; 
}    

.css3-blink a {
    color: red;
}

.css3-blink a:visited {
    color:red   
}

/*fixing up the floating toc*/
/*animation*/
#floatingtoc a {
    color: #fff;
}

#floatingtoc dd a {
	color: #ccc;
}

#floatingtoc {
	border: none;
	padding: 5em 0em;
	bottom: 0px;

	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	transition-delay: 2s;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	background-color: #fff;
	background-color: rgba(255,255,255,0.86);
	max-height: none;
	top: 0px;
	width: 100%;
	margin: 0em;
	overflow: hidden;
	left: 0em;
}

#floatingtoc .toc {
	overflow: auto;
	width: 70% !important;
 	padding: 2em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #333;
	background-color: rgba(10,10,10,0.83);
	border-radius: .51em .51em 0em 0em;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -30% !important;
	bottom: 0px;

	-webkit-transition: bottom .2s ease;
	-moz-transition: bottom .2s ease;
	-o-transition: bottom .2s ease;
	-ms-transition: bottom .2s ease;
	transition: bottom .2s ease;
	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	transition-delay: 2s;
}

body.toc_embeded #floatingtoc .toc {
	width: 60% !important;
	left: 50%;
	margin-left:  -20%
}

body:hover #floatingtoc .toc {
	bottom: 3em;
	-webkit-transition: bottom .2s ease;
	-moz-transition: bottom .2s ease;
	-o-transition: bottom .2s ease;
	-ms-transition: bottom .2s ease;
	transition: bottom .2s ease;
	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	transition-delay: 2s;
}

/*

/*   #floatingtoc .toc:after {
/*   	-webkit-transition: all .2s ease;
/*   	-moz-transition: all .2s ease;
/*   	-o-transition: all .2s ease;
/*   	-ms-transition: all .2s ease;
/*   	transition: all .2s ease;
/*   	content: "";
/*   	display: block;
/*   	width: 0;
/*   	height: 0;
/*   	border-width: .5em;
/*   	border-color: transparent transparent #fff transparent;
/*   	border-style: solid;
/*   	z-index: 99;
/*   	position: fixed;
/*   	bottom: 0px;
/*   	left: 50%;
/*   	margin-left: -.25em;
/*   }
*/

body:hover #floatingtoc .toc:after {
	bottom: 39px;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}


#menu {
    -webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid #ccc; /*and a nice border bottom*/
position: fixed;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;

	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	transition-delay: 2s;
	top: -32px;
}

/*setting the docnav at the bottom with a dark background */
.docnav {
	bottom: 0px;
	margin-bottom: 0em;
	background-color: rgba(1,1,1,0.75);
	color: #fff;
	width: 90%;
	left: 5%;
	height: 3em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: .5em .5em 0 0;
	padding-top: .26em;
}

body.toc_embeded .docnav {
	left: auto;
	position: fixed;
	margin-left: -4em;
	width: 65em;
}

/*fancy docnav animation*/
.docnav {
	z-index: 99;
	bottom: -3em;
	margin-bottom: 0 !important;
	position: fixed;

	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;

	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	-ms-transition-delay: 2s;
	transition-delay: 2s;
}

body:hover .docnav {
	bottom: 0px;

	-webkit-transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	-ms-transition-delay: 0s !important;
	transition-delay: 0s !important;

	-webkit-transition: bottom .25s ease;
	-moz-transition: bottom .25s ease;
	-o-transition: bottom .25s ease;
	-ms-transition: bottom .25s ease;
	transition: bottom .25s ease;
}

body:hover #menu {
	top: 0px;

	-webkit-transition: bottom .25s ease;
	-moz-transition: bottom .25s ease;
	-o-transition: bottom .25s ease;
	-ms-transition: bottom .25s ease;
	transition: bottom .25s ease;

	-webkit-transition-delay: 0s !important;
	-moz-transition-delay: 0s !important;
	-o-transition-delay: 0s !important;
	-ms-transition-delay: 0s !important;
	transition-delay: 0s !important;
}



/*making the text white */
.docnav li.next a strong,.docnav li.previous a strong,.docnav .home {
	color: #999;
}

.docnav li.next a strong:hover,.docnav li.previous a strong:hover,.docnav .home:hover {
	color: #fff;
}

/*making the docnav  next prev buttons spacier */
.docnav li.next a strong,.docnav li.previous a strong {
	padding: .3em 4em;
	line-height: 2em;
}

.docnav li.next a strong {
	background-position: 90% 90%;
}

.docnav li.previous a strong {
	background-position: 10% 90%;
}

/*fixing the docnav arrow*/
.home {
    padding: .5em !important;
}

.home::after {
	top: 0.8em;
	border-width: 0em .5em .5em .5em;
	border-color: transparent transparent #999 transparent;
}

/* #floatingtoc .toc {
    max-width: 40em !important;
	left: 50% !important;
	margin-left: -10em !important;
	position: absolute !important;
} */

#floatingtoc {
 /*    background-color: white;
    border: 1px solid #565656;
   display: none; */
    left: 50%;
    margin-left: -210px;
    margin-right: auto;
    margin-top: 30px;
    max-height: 75%;
    overflow-y: scroll;
    padding: 20px;
    position: fixed;
    width: 400px;
    z-index: 1;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.ds-control-panel a {
   font-family: 'liberation-sans', sans-serif;
}
