<!DOCTYPE html>
<html>
  <head>
    <title>About Death Star</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script>window.sourceURL="removelist"</script>
  </head>
  <body onload="pageSetup()">

    <% include index-menu.ejs %>

  
        <h4><strong>The Death Star is an <span class="text-success">open source</span> <span class="text-warning">web-browser based</span> workflow engine for 
            <span class="text-info">structured technical writing</span> using topics.</strong></h4>
 
        <br>
        <blockquote>
            <p>The Death Star editor rocks. It rocks hard, making it easier for all of us to work with our topic-based authoring tools.</p>
            <small>A satisfied Death Star user</small>
        </blockquote>

        <p>The Death Star is completely open-source (<a href="https://github.com/jwulf/node-deathstar">hosted on github</a>) and community-based. It is not an official or support product of any kind.</p>
       
   

        
       <p>Death Star is "Fedora" to PressGang's "RHEL" - roughly. (Actually it's kinda more like Ubuntu - "<i>Docbook authoring for Humans</i>").
        Like using Fedora as your operating system (versus using the Corporate Standard Build of RHEL), Death Star is not "officially supported". 
Death Star is a community-supported open source tool chain for Docbook XML authoring that builds on Publican and PressGang to provide authors with 
new and useful features that are not yet implemented in those tools. Like Fedora, Death Star evolves rapidly. Like RHEL, the PressGang authoring environment provides a stable 
platform and incorporates features that frequently first appear in the Death Star. As Fedora does with RHEL Engineering, Death Star relies on PressGang 
and the PressGang developers.
       </p>
       

        <blockquote>
            <p>Editing a spec in Death Star = awesome</p>
            <small>A happy Death Star user</small>
        </blockquote>

        <h3>Under the Hood</h3>
        <p>Uses:</p>
        <ul>
            <li><a href="http://nodejs.org/">Node.js 0.8.x</a></li>
            <li><a href="https://github.com/jwulf/node-deathstar">Deathstar 2.0</a></li>
            <li>CSProcessor</li>
            <li>PressGang CCMS</li>
            <li><a href="https://fedorahosted.org/publican/">Publican</a></li>
        </ul>
        <br>
        <p>
         <iframe  src="http://ghbtns.com/github-btn.html?user=jwulf&repo=node-deathstar&type=fork&size=large"
            allowtransparency="true" frameborder="0" scrolling="0" width="82" height="30"></iframe> <small>Use the source, Luke! Fork the source code on Github for Galactic Justice.</small>
        </p>
        <br>
        <blockquote>
            <p>Now witness the firepower of this fully ARMED and OPERATIONAL battle station!!</p>
            <small>Lord Grumpy Vader</small>
        </blockquote> 
                <center><img src="grumpy-vader.jpg"></center>

  </body>
</html>