<!DOCTYPE html>
<html>
  <head>
    <title>Add Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/add-book.js"></script>
  </head>
  <body>

    <% include index-menu.ejs %>
    <!-- <h1>Add Book</h1> -->
    <form class="form-search" onsubmit="addBook(); return false;">
        <fieldset>
           <legend>Add Book</legend>
            <div class="control-group">
                <label class="control-label" for="serverurl">Server URL:</label> 
                <input type="text" id="serverurl" name="serverURL" size="200" value="<%= defaultURL %>"></td>
            </div>
            <div class="control-group">
                <label class="control-label" for="specid-input">Content Spec ID:</label>
                <div class="input-append">
                  <input class="span2" id="specid-input" name="specID" autofocus type="text">
                  <button id="add-button" class="btn btn-primary" disabled type="button">Add</button>
                </div>
            </div>
        </fieldset>
    </form>
    <br>
    <div id="result"></div>

  </body>
</html>