<!DOCTYPE html>
<html>
  <head>
    <title>Add Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/add-book.js"></script>
  </head>
  <body>
 <div><h1>Death Star 2.0 <span style="font-size: smaller; color: gray;">beta</span> <iframe style="float:right;" src="http://ghbtns.com/github-btn.html?user=jwulf&repo=node-deathstar&type=fork&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="82" height="30"></iframe></h1>  
</div>

    <% include index-menu.ejs %>
    <h1>Add Book</h1>
    <form onSubmit="addBook(); return false;">
        <table><tr><td>Server URL:</td><td> <input type="text" name="serverURL" size="200" value="<%= defaultURL %>"></td></tr>
        <tr><td>Content Spec ID:</td><td> <input type="text" name="specID" autofocus></td></tr>
        <tr><td></td><td><INPUT TYPE="SUBMIT" VALUE="Add Book"></td></tr>
        </table>
    </form>
    <br>
    <div id="result"></div>

  </body>
</html>