<% var partialURLs = { home: 'booklist', add: 'none', remove: 'removelist', publish: 'publishlist'};
    var partialURL;
    if (mode && partialURLs[mode]) partialURL = partialURLs[mode]; %>

<!DOCTYPE html>
<html>
  <head>
    <title>Death Star 2.0 beta</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/scripts/jquery-1.9.1.min.js"></script>   
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>window.sourceURL="<%= partialURL %>"</script>
  </head>
  <body onload="pageSetup()">
    
</div>
    <% include index-menu.ejs %>

    <div id="booklist">
        <% if (mode == 'home' ) { %>
            <% include booklist-partial.ejs %>
        <% } %>
        <% if (mode == 'remove') { %>
            <% include booklist-remove.ejs %>
        <% } %>
        <% if (mode == 'publish') { %>
            <% include booklist-publish.ejs %>
        <% } %>
   </div>

  </body>
</html>