<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/index.js"></script>
  </head>
  <body onload="indexRefresh()">
    <h1><%= title %></h1>
    <table>
        <tr>
            <td>
                <h3><span class="action-btn"><a href="/add">Add Book</a></span></h3>
            </td>
<td></td>
            <td>
                <h5><span class="action-btn"><a href="/about.html">[About Deathstar 2.0]</a></span></h3>  
            </td>
        </tr>
    </table>
<hr>
    <div id="booklist">
        <% include booklist-partial.ejs %>
   </div>

  </body>
</html>