<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="scripts/client-index.js"></script>
    <script src="assets/js/basket.full.min.js"></script>

    <script type="text/javascript">
        var pageIsEditor = true;
        basket
            .require({ url: 'assets/js/jquery-1.9.1.min.js', unique: 1 })
            .then(function () {
                basket.require({ url: '/scripts/knockout-2.2.1.js', unique: 1});
            })
            .then(function () {
                basket.require({ url: '/scripts/ejs_production.js', unique: 1});
            })
            .then(function () {
                basket.require({ url: '/assets/js/bootstrap.min.js', unique: 1});
            })
            .then(function () {
                basket.require({ url: '/socket.io/socket.io.js', unique: 1});
            })
            .then(function () {
                basket.require({ url: '/assets/js/pg-identity.js', unique: 1});
            });
    </script>
</head>

<body onload="onLoad()">
<div id="main pg-main">
    <div id="pg-menu">
        <ul class="folders" data-bind="foreach: pages">
            <li data-bind="text: $data, css: { selected: $data == $root.chosenPageId() },
            click: $root.goToPage"></li>
        </ul>
    </div>

    <div id="page-view"></div>
    <div id="motd"></div>
    <div class="notifier invisible"></div>
    </div>
</body>

</html>

