<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script>window.sourceURL="removelist"</script>
  </head>
  <body onload="indexRefresh()">
    <h1><%= title %></h1>

    <% include index-menu.ejs %>

    <div id="booklist">
        <% include booklist-remove.ejs %>
   </div>

  </body>
</html>