<!DOCTYPE html>
<html lang="en-US">
    
    <head>
        <title>Deathstar Editor</title>
        <link href="assets/css/default.css" rel="stylesheet">
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <!-- <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet"> -->
        <link href="assets/css/codemirror.css" rel="stylesheet">
        <link href="assets/css/codemirror-dialog.css" rel="stylesheet">
        <link href="assets/css/deathstar.css" rel="stylesheet">
        <link href="assets/css/jquery-ui-1.8.23.custom.css" rel="stylesheet">
        <link href="stylesheets/editor.css" rel="stylesheet">
        <!-- <link href="assets/css/docs.css" rel="stylesheet"> -->
        <script src="assets/js/basket.full.min.js"></script>

        <script type="text/javascript">
           var pageIsEditor = true;
           </script>
         <!--  basket
                   .require({ url: 'assets/js/jquery-1.9.1.min.js', unique: 1 })
                   .then(function () {
                       basket.require({ url: 'assets/js/jquery-ui.min.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/bootstrap.min.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/bootstrap-tooltip.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/bootstrap-popover.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/bootstrap-button.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/bootstrap-dropdown.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/jquery.layout-latest.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/codemirror.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/codemirror-search.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/codemirror-searchcursor.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/codemirror-dialog.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/closetag.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/xml.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/typo.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/knockout-2.2.1.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/deathstar-editor-common.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/deathstar-pressgang-rest-utils.js', unique: 1});
                   })
                   .then(function () {
                       basket.require({ url: 'assets/js/deathstar-editor.js', unique: 1});
                   })
                 //  .then(function () {
                 //      basket.require({ url: 'assets/js/deathstar-topiceditor.js', unique: 5});
                 //  })
                   .then(function () {
                       basket.require({ url: 'scripts/ejs_production.js', unique: 1});
                   })
                   //.then(function () {
                   //    basket.require({ url: 'assets/js/pg-identity.js', unique: 1});
                   //});
        </script>

        <script src="assets/js/deathstar-topiceditor.js"></script>    -->


        <!-- basket cases -->
        <!--               -->
        <script src="assets/js/jquery-1.9.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery-ui.min.js"></script>
        <script src="assets/js/bootstrap-tab.js"></script>
        <script src="assets/js/bootstrap-tooltip.js"></script>
        <script src="assets/js/bootstrap-popover.js"></script>
        <script src="assets/js/bootstrap-button.js"></script>
        <script src="assets/js/bootstrap-dropdown.js"></script>
        <script src="assets/js/jquery.layout-latest.js"></script>
        <script src="assets/js/codemirror.js"></script>
        <script src="assets/js/codemirror-search.js"></script>
        <script src="assets/js/codemirror-searchcursor.js"></script>
        <script src="assets/js/codemirror-dialog.js"></script>
        <script src="assets/js/closetag.js"></script>
        <script src="assets/js/xml.js"></script>
        <script src="assets/js/typo.js"></script>
        <script src="assets/js/knockout-2.2.1.js"></script>
        <script src="scripts/ejs_production.js"></script>
        <script src="assets/js/deathstar-editor-common.js"></script>
        <script src="assets/js/deathstar-pressgang-rest-utils.js"></script>
        <script src="assets/js/deathstar-editor.js"></script>
        <script src="assets/js/deathstar-topiceditor.js"></script>

        <script src="assets/js/pg-identity.js"></script>

        <script>var alwaysUseServerToLoadTopics = <%= alwaysUseServerToLoadTopics %>, editingOffline = <%= offline %>;</script>
    </head>
    
    <body onload="commenceFiringSequence()">
        <!-- <div class="container"> -->
        <div class="ui-layout-center">
            <div>
                <div class="titlediv">
                    <span id="page-title" class="brand">Deathstar Editor</span>
                      <span class="pull-right label label-info" data-bind="visible: username">editing as: <span data-bind="text:username"></span>
                </div>
            </div>
           <div class="subnav tabbable"> 
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#edit" data-toggle="tab">Edit</a>
                    </li>
                    <li class>
                        <a href="#preview" data-toggle="tab">Preview</a>
                    </li>
                    <li class>
                        <a href="#help" data-toggle="tab">Help</a>
                    </li>
                    <li class>
                        <a href="#docbook" data-toggle="tab">Docbook Reference</a>
                    </li>
                </ul>
                <div class="tab-content">
                
                    <% include topic-editor-edit.ejs %>

                   <div class="tab-pane fade" id="preview">
                        <div id="div-preview-pane" data-bind="html: htmlpreview" class="div-preview"></div>
                    </div>
                    
                    <% include topic-editor-help.ejs %>

                    <% include topic-editor-docbook.ejs %>

                </div> <!-- tab-content -->
            </div> <!-- subnav tabbable -->
        </div> <!-- ui-layout-center -->
        <div class="ui-layout-east">
        <div id="conditions"><span id="conditions-label"><bold>Conditions:</bold></span></div>
            <div id="div-preview-inline" data-bind="html: htmlpreview" class="div-preview"></div>
        </div>

        <% include topic-editor-log-msg.ejs %>

    </body>
</html>





