 <!-- Login form from: http://www.alessioatzeni.com/blog/login-box-modal-dialog-window-with-css-and-jquery/ -->
    <div id="login-box" class="login-popup">
        <a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
        <form class="signin" action="">
            <fieldset class="textbox">
            <label class="firstname">
                <span>First Name</span>
                <input id="firstname" name="firstname" value="" type="text" autocomplete="on" autofocus placeholder="First Name">
            </label>

             <label class="surname">
                <span>Surname</span>
                <input id="surname" name="surname" value="" type="text" autocomplete="on" autofocus placeholder="Surname">
            </label>

            <label class="email">
                <span>Email</span>
                <input id="email" name="email" value="" type="text" autocomplete="on" autofocus placeholder="Email">
            </label>
            
            <label class="commit-message">
                <span>Commit message</span>
                <input id="commitmsg" name="commitmsg" class="wipe-me commitmsg" value="" type="text" autocomplete="on" placeholder="Commit Message">
            </label>
            <button id="commitmsg-button" class="submit button" type="button">Save</button>
                        
            </fieldset>
      </form>
    </div>