 <!-- Login form from: http://www.alessioatzeni.com/blog/login-box-modal-dialog-window-with-css-and-jquery/ -->
    <div id="login-box" class="login-popup">
        <a href="#" class="close"><img src="close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
        <form class="signin" action="">

            <fieldset class="textbox">
            <legend id="commit-msg-type"></legend>
            <label class="userid">
                <span>User ID</span>
                <input id="userid" name="userid" value="" type="text" autocomplete="on" autofocus placeholder="User ID">
            </label>
            
            <label class="commit-message">
                <span>Commit message</span>
                <input id="commitmsg" name="commitmsg" class="wipe-me commitmsg" value="" type="text" autocomplete="on" placeholder="Commit Message">
            </label>
            <button id="commitmsg-button" class="btn btn-success pull-right" type="button">Save</button>
            <button id="cancel-log-msg" class="btn btn-danger" type="button">Cancel</button>            
            </fieldset>
      </form>
    </div>