<div id="modal-commit-message" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close commit-message-close" data-dismiss="modal-commit-message" aria-hidden="true">&times;</button>
        <h3>Commit Message</h3>
    </div>
    <div class="modal-body">
        <label class="commit-message">
            <span>Commit message</span>
            <input id="commit-message" name="commitmsg" class="wipe-me commitmsg" length="200" value="" type="text" autocomplete="on" placeholder="Commit Message">
        </label>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal-commit-message" class="commit-message-close btn">Cancel</button>
        <button data-log-level="1" data-bind="enable: logmsg" class="do-commit-save btn btn-primary">Make it a note</button>
        <button data-log-level="2" data-bind="enable: logmsg" class="do-commit-save btn btn-danger">Revision History Entry</button>
    </div>
</div>