<!DOCTYPE html>
<html>
  <head>
    <title>About Death Star</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/scripts/jquery-1.9.1.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script>window.sourceURL="removelist"</script>
  </head>
  <body onload="pageSetup()">

    <% include index-menu.ejs %>
    <% include about-changelog.ejs %>

</body>