body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00f;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.menu-button a {
  color: #008000;
}
.active-indicator-button a {
  color: #f00;
}
.active-indicator-button a:hover {
  color: #f00;
  border-bottom: 1px dotted;
}
.action-button a {
  color: Beige;
}
.action-button {
  color: Beige;
}
.action-button a:hover {
  color: #f00;
  border-bottom: 1px dotted;
}
#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999;
}
.login-popup {
  display: none;
  background: #333;
  padding: 10px;
  border: 2px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999;
  -moz-box-shadow: 0px 0px 20px #999;
  -webkit-box-shadow: 0px 0px 20px #999;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
img.btn_close {
  float: right;
  margin: -28px -28px 0 0;
}
fieldset {
  border: none;
}
form.signin .textbox label {
  display: block;
  padding-bottom: 7px;
}
form.signin .textbox span {
  display: block;
}
form.signin p,
form.signin span {
  color: #999;
  font-size: 11px;
  line-height: 18px;
}
form.signin .textbox input {
  background: #666;
  border-bottom: 1px solid #333;
  border-left: 1px solid #000;
  border-right: 1px solid #333;
  border-top: 1px solid #000;
  color: #fff;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font: 13px Arial, Helvetica, sans-serif;
  padding: 6px 6px 4px;
  width: 200px;
}
form.signin input:-moz-placeholder {
  color: #bbb;
  text-shadow: 0 0 2px #000;
}
form.signin input:-webkit-input-placeholder {
  color: #bbb;
  text-shadow: 0 0 2px #000;
}
.button {
  background: -moz-linear-gradient(center top, #f3f3f3, #ddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ddd));
  background: -o-linear-gradient(top, #f3f3f3, #ddd);
  border-color: #000;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 6px 6px 4px;
  margin-top: 10px;
  font: 12px;
  width: 214px;
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.css3-blink {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 2s;
}
table {
  border-collapse: collapse;
}
td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
