body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00f;
  text-decoration: none;
  border-bottom: 1px dotted;
}
.menu-button a {
  color: #008000;
}
.active-indicator-button a {
  color: #f00;
}
.active-indicator-button a:hover {
  color: #f00;
  border-bottom: 1px dotted;
}
.action-button a {
  color: Beige;
}
.action-button {
  color: Beige;
}
.action-button a:hover {
  color: #f00;
  border-bottom: 1px dotted;
}
