body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration: none

.rebuilding-button a 
  color: red
.rebuilding-button a:hover 
  color: red
  border-bottom: 1px dotted
.action-button a  
  color: Beige
.action-button a:hover 
  color: red
  border-bottom: 1px dotted

