<form class="form-create" onsubmit="createBook(); return false;">
    <fieldset>
        <legend>Create New Book</legend>
        <div class="control-group">
            <label class="control-label" for="serverurl">Server URL:</label>
            <input type="text" id="serverurl" name="serverURL" size="400" value="<%= defaultURL %>"></td>
        </div>

        <div class="control-group">
            <label class="control-label" for="title-input">Title:</label>
            <div class="input-title">
                <input class="span2" id="title-input" name="title" autofocus type="text">

            </div>
            <div class="control-group">
                <label class="control-label" for="title-input">Title:</label>
                <div class="input-title">
                    <input class="span2" id="title-input" name="title" autofocus type="text">

                </div>


        <div class="control-group">
            <label class="control-label" for="title-input">Title:</label>
            <div class="input-title">
                <input class="span2" id="title-input" name="title" autofocus type="text">

            </div>
            <div class="control-group">
                <label class="control-label" for="subtitle-input">Subtitle:</label>
                <input class="input-subtitle" id="subtitle-input" name="subtitle" type="text">
            </div>
        </div>
        <button id="add-button" class="btn btn-primary" disabled type="button">Create</button>
    </fieldset>
</form>
<br>
<div id="result"></div>
