<div>

    <h3><a href="https://mojo.redhat.com/people/jwulf/blog/tags#/?tags=operation_endor">Operation Endor Blog Posts<a/></h3>
      <ul>
          <li><a href="https://mojo.redhat.com/people/jwulf/blog/2013/05/12/persistent-and-consistent-identification-for-all-press-star-operations">Persistent (and Consistent) Identification for all Press Star operations</a></li>
          <li><a href="https://mojo.redhat.com/people/jwulf/blog/2013/05/12/automagic-revision-history">Automagic Revision History</a></li>
          <li><a href="https://mojo.redhat.com/people/jwulf/blog/2013/05/09/speeding-up-the-press-star-editor">Speeding up the Press Star Editor</a></li>
      </ul>

    <h3><a href="https://github.com/jwulf/press-star/issues?milestone=1&state=closed">Github Issues</a></h3>
    <ul>
        <li><a href="https://github.com/jwulf/press-star/issues/13">Filtering for Books of interest</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/12">Add Docs link to Interface</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/9">Latest brew package number for automated Revision History</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/8">Persistent identity</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/7">Update Revision History topic revnumber when publishing</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/4">Update book metadata on push</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/3">Main control panel page not updating on action</a></li>
        <li><a href="https://github.com/jwulf/press-star/issues/2">Content Spec editor issues</a></li>

    </ul>
</div>