<div id="modal-identity-dialog" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close modal-identity-close" aria-hidden="true">&times;</button>
        <h3>Identify</h3>
    </div>
    <div class="modal-body">
        <label class="username">PressGang Username:</label>
            <input id="pg-identity-username" data-bind="value:username, valueUpdate: 'afterkeydown'" class="pg-identity-username" length="200" value="" type="text" autocomplete="on" placeholder="Username">   <button id="pg-identify-button" data-bind="enable:username" class="btn btn-primary">Check Identity</button>

        <span><p><small>Don't have one? <a href="#" id="pg-identity-create-new-account">Create a free PressGang account.</a></small></p></span>
        <label data-bind="visible: identified">
            <span>First Name: </span> <span data-bind="text:firstname"></span>
        </label>
        <label data-bind="visible: identified">
            <span>Surname: </span> <span data-bind="text:surname"></span>
        </label>
        <label data-bind="visible: identified">
            <span>Email: </span> <span data-bind="text:email"></span>
        </label>
        <button id="pg-identity-thats-me" data-bind="visible: identified" class="btn-success">That's me!</button>

    </div>
    <div class="modal-footer">
        <button class="modal-identity-close btn">Cancel</button>


    </div>
</div>

