<!-- Login form from: http://www.alessioatzeni.com/blog/login-box-modal-dialog-window-with-css-and-jquery/ -->
<div id="pg-identify-dialog" class="login-popup">
    <a href="#" class="close"><img src="close_pop.png" class="pg-btn_close" title="Close Window" alt="Close" /></a>
    <form class="signin" action="">
        <p>
            We need your identity to attribute your changes.
        </p>
        <fieldset class="textbox">
            <label class="username">
                <span>PressGang Username</span>
                <input id="pg-username" name="pgusername" value="" type="text" autocomplete="on" autofocus placeholder="PressGang Username">
            </label>

            <!-- <label class="password">
                 <span>Kerberos Password</span>
                 <input id="password" class="wipe-me" name="kerbpwd" value="" type="password" placeholder="Kerberos Password">
             </label>

             <label class="commit-message">
                 <span>Commit message</span>
                 <input id="commitmsg" name="commitmsg" class="wipe-me" value="" type="text" autocomplete="on" placeholder="Commit Message">
             </label> -->
            <button id="pg-identify-button" class="submit button" type="button">Identify</button>
        </fieldset>
    </form>
</div>
