<div id="container">
<p class="github">
    <strong class="inner">Github: Press Star</strong><br>
    <strong class="callout">Suggestions, problems, feedback?</strong><br>
    <a href="https://github.com/jwulf/press-star/issues" class="link" target="_blank">Check Out the Repo</a></p>

</div>
