<div id="container">
<p class="github">
    <strong class="inner">Github: Press Star</strong><br>
    <strong class="callout">Suggestions, problems, feedback?</strong><br>

    <a href="https://github.com/jwulf/press-star/issues" class="link" target="_blank">Issue Tracker on Github</a></p>
</div>

<p>Try the following if you have a problem:</p>
<ul>
    <li>Hit your browser reload button a couple of times (if it's a browser loading issue). Especially if there has been an update, your browser cache may be out of sync.</li>
    <li>If you have another browser, try that (<i>this helps us with cross-browser compatibility debugging</i>).</li>
    <li>Check the browser console for error messages (<i>Tools > Web Developer > Console in Firefox, View > Developer > JavaScript Console in Chrome</i>).</li>
    <li>Try rebuilding your book (<i>if it's a book issue</i>). We've noticed some transient issues with network connectivity killing builds.</li>
    <li>Check the build log of your book for clues.</li>
    <li>Think back to what you changed before the problem started (<i>it's probably nothing you did, but it could be!</i>)</li>
    <li>If none of these resolve your problem, then open an issue in github. Be as specific and precise as possible. Let us know the exact URL you are looking at, what browser you are using, including the version, and also any error messages in the console. When you report the issue, keep this in mind - you are giving instructions for someone to do exactly what you just did, and see exactly what you see, so that they can figure out what happened, and how to fix it.</li>
    <li>And if your build job is stuck and is blocking everyone else from building, then you can <a href="#" id="reboot">bounce the server</a>.</li>
</ul>